@import 'https://fonts.googleapis.com/css?family=Open+Sans|Raleway';
@import url('components/avatar.css');
@import url('components/banner.css');
@import url('components/card.css');
@import url('components/lairs.css');
@import url('components/features.css');
@import url('components/footer.css');

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.padded {
  padding: 100px 0;
}

.wrapper-gray {
  background-color: #252525;
}
